@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Poppins:ital,wght@0,100;0,200;0,300;0,700;1,400&display=swap');




.projects-header {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.projects-header h2 {
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--light-grey);
    font-family: 'Nosifer', sans-serif;

}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.works-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.contaiiner {
    background-color: #2b2a2a;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 0.7rem;
    color: black;
    cursor: pointer;
    max-width: 400px;
    border: 1px solid transparent;
    transition: all 0.4s;

}

.contaiiner:hover {
    box-shadow: 0 0 25px rgba(175, 166, 166, 0.2);
}

.portfolio-img {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 230px;
    position: relative;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;

}

.portfolio-img img {
    border-radius: 0.5rem;
    height: 100%;
    object-fit: cover;
    width: 100%;
    overflow: clip;
}

.portfolio-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.ctaa {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}

.project-name {
    font-size: larger;
    font-weight: bold;
    color: var(--dodge-blue);
}

.project-desc {
    text-align: center;
    color: var(--light-grey);
}

.ctaa a {
    font-size: medium;
    font-weight: bold;
    color: var(--light-grey);
}

.btn2 {
    width: max-content;
    display: inline-block;
    color: white;
    padding: 0.4rem 1.5rem;
    cursor: pointer;
    border: 2px solid var(--darkest-blue);
    border-radius: 1rem;
    background: var(--dodge-blue);
    transition: var(--transition);
    box-shadow: 2px 2px 5px;
}

.btn2:hover {
    background: #2b2a2a;
    border: 2px solid var(--light-blue);
}

.btnn {
    width: max-content;
    display: inline-block;
    color: white;
    padding: 0.4rem 1.5rem;
    cursor: pointer;
    border: 2px solid var(--darkest-blue);
    border-radius: 1rem;
    background: #121212;
    transition: var(--transition);
    box-shadow: 2px 2px 10px;
}

.btnn:hover {
    background: var(--dark-grey);
    border: 2px solid var(--light-blue);

}


@media screen and (max-width:600px) {
    .works-wrapper {
        grid-template-columns: 1fr;
    }

    .projects-header h2 {
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
    }
}


@media screen and (min-width:601px) and (max-width:1023px) {

    .works-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}