@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,200&display=swap');


.skills-header {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-header h2 {
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--light-grey);
    font-family: 'Nosifer', sans-serif;
}

.skill-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}

.circle:hover {
    transform: scale(1.2);
    background-color: var(--light-grey);
}

.outline {
    flex-direction: column;
    margin: 1rem;
    text-align: center;
    transition: all .3s ease-in-out;
}

.circle img {
    height: 50%;
    width: 50%;

}

.outline p {
    margin-top: 7px;
    color: var(--dark-grey);
    /* font-family: 'Bellefair', serif; */
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.2rem;
}




@media screen and (max-width:600px) {
    .skills-header {
        margin-top: 2rem;
        padding-top: 1rem;
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
    }

}



@media screen and (min-width:601px) and (max-width:1023px) {
    .skills-header {
        margin-top: 2rem;
        padding-top: 1rem;
    }
}