@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.skills {
    height: 100vh;
}


.skills-header {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-header h2 {
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--light-grey);
    font-family: 'Nosifer', sans-serif;
}

.skill-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

}

.container div {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: gray;
    border-radius: 15px;

}




@media screen and (max-width:600px) {
    .skills-header {
        margin-top: 2rem;
        padding-top: 1rem;
    }
}



@media screen and (min-width:601px) and (max-width:1023px) {
    .skills-header {
        margin-top: 2rem;
        padding-top: 1rem;
    }
}