nav{
    width: 100%;
    height: 100px;
    position: sticky;
    left: 0px;
    top: 0px;
    z-index: 2;
    padding: 0 30px;
    align-items: center;
    background: linear-gradient(180deg, #333333 45%, transparent);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
 nav img{
    width: 200px;
    height: 76px;
    margin: 0 15px;
 }
.menu-icon{
display: none;
}
.menu {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    cursor: pointer;
    justify-content: space-between;
}

.menu a {
    padding: 5px 20px;
    margin: 0.3rem;
    text-align: left;
    font-size: 0.68rem;
}


.menu a.active {
    font-weight: bolder;
    color: rgb(199, 84, 208);
    font-size: 0.85rem;
}

.menu a:hover {
    color: #46a0f5;
    transition: 0.4s ease-in-out;
}



/* mobile screens */
@media screen and (max-width:600px) {

    nav{
        display: flex;
        justify-content: space-between;
    }
    nav img{
        width: 130px;
        height: 50px;
        margin: 0 3px;
     }
     .menu-icon {
        display: block;
        cursor: pointer;
        margin: 0 25px;
        z-index: 20;
       
    }

  .menu{
    position: absolute;
    background: linear-gradient(180deg, #333333 45%, transparent);
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    border-radius: 15px;
    align-items: flex-start;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    justify-content: center;
    cursor: pointer;
    width: 50%;
    transition: right 0.5s;
    padding-top: 0;
    text-align: center;
  }
.abs{
    position: absolute;
    top: 0;
    right: 0;

}
  .menu a {
    color: white;
    visibility: inherit;
    display: flex;
    flex-direction: column;
    font-size: 0.85rem;
text-align: center;
}
.menu li{
    width: 100%;
   
}
.menu a.active {
    font-weight: bolder;
    font-size: 1rem;
    color: var(--light-grey);

}

.activate {
    visibility: visible;
    right: 0rem;
    opacity: 1;
    top: 0.5rem;
    height: 100vh;

}

.inactive {
    visibility: hidden;
}

}



/* medium screens */
 @media screen and (min-width:601px) and (max-width:1023px) {


    nav{
        display: flex;
        justify-content: space-between;
    }
    nav img{
        width: 150px;
        height: 66px;
        margin: 0 3px;
     }
     .menu-icon {
        display: block;
        cursor: pointer;
        margin: 0 15px;
        z-index: 20;
       
    }

    .menu{
        position: absolute;
        background: linear-gradient(180deg, #333333 45%, transparent);
        top: 20px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 3rem;
        border-radius: 15px;
        align-items: flex-start;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        justify-content: center;
        cursor: pointer;
        width: 50%;
        transition: right 0.5s;
        padding-top: 0;
        text-align: center;
      }
    .abs{
        position: absolute;
        top: 0;
        right: 0;
    
    }
      .menu a {
        color: white;
        visibility: inherit;
        display: flex;
        flex-direction: column;
        font-size: 0.85rem;
    text-align: center;
    }
    .menu li{
        width: 100%;
       
    }
    .menu a.active {
        font-weight: bolder;
        font-size: 1rem;
        color: var(--light-grey);
    
    }
    
    .activate {
        visibility: visible;
        right: 0rem;
        opacity: 1;
        top: 0.5rem;
        height: 100vh;
    
    }
    
    .inactive {
        visibility: hidden;
    }
    
    }
    
    

 












/* nav {
    position: sticky;
    left: 0px;
    top: 0px;
    z-index: 2;
    backdrop-filter: blur(3px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    background: linear-gradient(180deg, #333333 45%, transparent);
overflow: scroll;
}

.logo {
    height: 4.5rem;
    margin: 0 15px;
}

.logo img {
    height: 100%;
    width: fit-content;
    object-fit: contain;

}


.menu {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    margin: 0px;
    cursor: pointer;

}

.menu a {
    padding: 5px 20px;
    margin: 0.3rem;
    text-align: left;
    font-size: 0.65em;
}

.menu a.active {
    font-weight: bolder;
    color: rgb(53, 56, 223);
    font-size: 0.7rem;
}

.menu a:hover {
    color: #46a0f5;
    transition: 0.4s ease-in-out;
}

.menu-icon {
    display: none;
} */

/* mobile screens */
/* @media screen and (max-width:600px) {
    .logo {
        height: 4.5rem;
        margin: 2px 5px;
    }

    .logo img {
        height: 100%;
        width: fit-content;
        object-fit: contain;

    }

    .menu-icon {
        display: block;
        cursor: pointer;
        margin: 0 15px;
        z-index: 20;
    }

    .menu {
        position: absolute;
        background: linear-gradient(180deg, #333333 45%, transparent);
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 3rem;
        border-radius: 15px;
        align-items: flex-start;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 50%;
        transition: right 0.5s;
        padding-top: 0;
    }

    .menu a {
        color: white;
        visibility: inherit;
        display: flex;
        flex-direction: column;
        font-size: 0.85rem;

    }

    .menu a.active {
        font-weight: bolder;
        font-size: 1rem;
        color: var(--light-grey);

    }

    .activate {
        visibility: visible;
        right: 0rem;
        opacity: 1;
        top: 0.5rem;
        height: 100vh;

    }

    .inactive {
        visibility: hidden;
    }
} */


/* medium screens */
/* @media screen and (min-width:601px) and (max-width:1023px) {

    .logo {
        height: 3.5rem;
        margin: 4px 5px;
    }

    .logo img {
        height: 100%;
        width: fit-content;
        object-fit: contain;

    }

    .menu-icon {
        display: block;
        cursor: pointer;
        margin: 0 25px;
        z-index: 20;
    }

    .menu {
        position: absolute;

        visibility: hidden;
        right: 0;
        background: linear-gradient(180deg, #333333 45%, transparent);
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 3rem;
        border-radius: 10px;
        align-items: flex-start;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 50%;
        transition: right 0.5s ease-in-out;

    }

    .menu a {
        color: white;
        visibility: inherit;
        display: flex;
        flex-direction: column;
        font-size: 1rem;
    }

    .menu a.active {
        font-weight: bolder;
        font-size: 1.2rem;
    }

    .activate {
        visibility: visible;
        right: 0;
        top: 0.5rem;
        opacity: 1;
        height: 100vh;
    }

    .inactive {
        visibility: hidden;
    }

} */